@import url("../../main.scss");

.techskill {
  border: 0.0005rem solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  width: 100%;

  background-color: var(--card-bg-color);

  h3 {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.875rem;

    .about-icon {
      font-size: 1.125rem;
      margin-right: 3px;
      color: var(--primary-text-color);
    }
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .title {
      font-size: 0.75rem;
      color: var(--primary-text-color);

      font-weight: 400;
      margin-bottom: 3px;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 3px;
      margin-bottom: 8px;
      li {
        list-style: none;
        padding: 0 8px;
        border-radius: 25px;
        font-size: 0.625rem;
        border: 0.0005rem solid var(--border-color);
        color: var(--primary-text-color);
      }
    }
  }
}

@media (max-width: 789px) {
  .techskill {
    border: 0.0005rem solid var(--border-color);
    border-radius: 10px;
    padding: 15px;
    width: 100%;

    background-color: var(--card-bg-color);

    h3 {
      color: var(--primary-text-color);
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 0.875rem;

      .about-icon {
        font-size: 1.125rem;
        margin-right: 3px;
      }
    }

    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .title {
        font-size: 0.75rem;
        color: var(--primary-text-color);
        font-weight: 400;
        margin-bottom: 3px;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 8px;
        li {
          list-style: none;
          padding: 0 8px;
          border-radius: 25px;
          font-size: 0.625rem;
          border: 0.0005rem solid var(--border-color);
          color: var(--primary-text-color);
        }
      }
    }
  }
}
