@import url("../../main.scss");

.modal-box {
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  border: 0.0005rem solid var(--border-color);
  position: absolute;
  background-color: var(--card-bg-color);
  top: 30px;
  right: 0;
  z-index: 3;

  .top {
    width: 100%;
    display: flex;
    justify-content: start;

    h3 {
      color: var(--primary-text-color);
      font-size: 0.875rem;
    }
  }

  .content {
    width: 100%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;

      li {
        font-size: 0.75rem;
        color: var(--primary-text-color);
        list-style: none;

        .tech-icon {
          color: var(--primary-text-color);
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
