@import url("../../main.scss");

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--mian-bg-color);
  border-top: 0.0005rem solid var(--border-color);
  height: 40px;
  align-items: center;

  padding: 20px;
  margin-top: 80px;
  span {
    color: var(--primary-text-color);
    font-weight: 300;
    font-size: 0.875rem;
  }
}
