@import url("../../main.scss");

.post {
  // border: 0.0005rem solid rgb(49, 45, 45);
  border: 0.0005rem solid var(--border-color);
  width: 58%;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  height: fit-content;

  h3 {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 0.875rem;

    .project-icon {
      font-size: 1.125rem;
      margin-right: 3px;
    }
  }

  .post-card {
    background-color: var(--mian-bg-color);
    width: 100%;
    border: 0.0005rem solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;

    .post-card-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .project-name-icon {
        display: flex;
        flex-direction: column;
        width: 40%;
        .h3-project {
          font-size: 1.25rem;
          color: var(--primary-text-color);
          font-weight: 500;
          margin: 0;
        }

        span {
          font-size: 0.625rem;
          color: var(--dark-text-color);
          margin: 0;
        }
      }
      .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        gap: 5px;
        width: 60%;

        .btn-show {
          background-color: transparent;
          border: 1px solid var(--border-color);
          height: 25px;
          color: var(--primary-text-color);
          font-weight: 500;
          cursor: pointer;
          border-radius: 3px;
          font-size: 0.625rem;
          padding: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          .view-icon {
            color: var(--primary-text-color);
            font-size: 0.875rem;
            margin-right: 5px;
          }

          &:hover {
            background-color: blue;
            color: var(--mian-bg-color);
          }

          &.techused {
            background-color: blue;
            color: var(--mian-bg-color);
          }
          &.feature {
            background-color: blue;
            color: var(--mian-bg-color);
          }
          &.visit {
            background-color: blue;
            color: var(--mian-bg-color);
          }
          &:hover {
            color: var(--mian-bg-color);

            .view-icon {
              color: var(--mian-bg-color);
            }
          }
        }

        .modal-box-overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          z-index: 2;
        }
      }
    }

    .description {
      width: 100%;
      margin-top: 10px;
      border-top: 0.0005rem solid var(--border-color);
      padding-top: 20px;
      margin-bottom: 10px;
      p {
        color: var(--primary-text-color);
        font-weight: 300;
        font-size: 0.875rem;
      }

      .read-more-btn {
        font-size: 0.75rem;
        cursor: pointer;
        color: var(--dark-text-color);
      }
    }

    .post-wrapper {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 789px) {
  .post {
    // border: 0.0005rem solid rgb(49, 45, 45);
    border: 0.0005rem solid var(--border-color);
    width: 100%;
    border-radius: 10px;
    padding: 10px 5px;
    background-color: var(--card-bg-color);

    h3 {
      color: var(--primary-text-color);
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 0.875rem;
      margin-left: 10px;

      .project-icon {
        font-size: 1.125rem;
        margin-right: 3px;
      }
    }

    .post-card {
      background-color: var(--mian-bg-color);

      width: 100%;
      border: 0.0005rem solid var(--border-color);
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 30px;

      .post-card-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        .project-name-icon {
          display: flex;
          flex-direction: column;
          width: 100%;
          .h3-project {
            font-size: 1.25rem;
            color: var(--primary-text-color);

            font-weight: 500;
            margin: 0;
          }

          span {
            font-size: 0.625rem;
            color: var(--dark-text-color);
            margin: 0;
          }
        }
        .button-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          gap: 5px;
          width: 100%;
          margin-top: 10px;

          .btn-show {
            background-color: transparent;
            border: 1px solid var(--border-color);
            height: auto;
            color: var(--primary-text-color);
            font-weight: 500;
            cursor: pointer;
            border-radius: 3px;
            font-size: 0.625rem;
            padding: 3px 10px;
            display: flex;
            white-space: nowrap;

            justify-content: center;
            align-items: center;

            .view-icon {
              color: var(--primary-text-color);
              font-size: 0.875rem;
              margin-right: 5px;
            }

            &:hover {
              background-color: blue;
            }

            &.techused {
              background-color: blue;
            }
            &.feature {
              background-color: blue;
            }
            &.visit {
              background-color: blue;
            }
          }

          .modal-box-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 2;
          }
        }
      }

      .description {
        width: 100%;
        margin-top: 10px;
        border-top: 0.0005rem solid var(--border-color);
        padding-top: 20px;
        margin-bottom: 10px;
        p {
          color: var(--primary-text-color);
          font-weight: 300;
          font-size: 0.875rem;
        }
      }

      .post-wrapper {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}
