@import url("../../main.scss");

.post {
  // border: 0.0005rem solid rgb(49, 45, 45);
  border: 0.0005rem solid var(--border-color);
  width: 58%;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  height: fit-content;

  h3 {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 0.875rem;

    .project-icon {
      font-size: 1.125rem;
      margin-right: 3px;
    }
  }

  .post-card {
    background-color: var(--mian-bg-color);
    width: 100%;
    border: 0.0005rem solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;

    .post-card-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .project-name-icon {
        display: flex;
        flex-direction: column;
        width: 40%;
        .h3-project {
          font-size: 1.25rem;
          color: var(--primary-text-color);
          font-weight: 500;
          margin: 0;
        }

        span {
          font-size: 0.625rem;
          color: var(--dark-text-color);
          margin: 0;
        }
      }
      .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        gap: 5px;
        width: 60%;

        .btn-show {
          background-color: transparent;
          border: 1px solid var(--border-color);
          height: 25px;
          color: var(--primary-text-color);
          font-weight: 500;
          cursor: pointer;
          border-radius: 3px;
          font-size: 0.625rem;
          padding: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          .view-icon {
            color: var(--primary-text-color);
            font-size: 0.875rem;
            margin-right: 5px;
          }

          &:hover {
            background-color: #3674b5;
            color: #fff;

            .view-icon {
              color: #fff;
            }
          }

          &.techused {
            background-color: #3674b5;
            color: #fff;

            .view-icon {
              color: #fff;
            }
          }
          &.feature {
            background-color: #3674b5;
            color: #fff;

            .view-icon {
              color: #fff;
            }
          }
          &.visit {
            background-color: #3674b5;
            color: #fff;

            .view-icon {
              color: #fff;
            }
          }
        }

        .modal-box-overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          z-index: 2;
        }
      }
    }

    .description {
      width: 100%;
      margin-top: 10px;
      border-top: 0.0005rem solid var(--border-color);
      padding-top: 20px;
      margin-bottom: 10px;
      p {
        color: var(--primary-text-color);
        font-weight: 300;
        font-size: 0.875rem;
      }

      .read-more-btn {
        font-size: 0.75rem;
        cursor: pointer;
        color: var(--dark-text-color);
      }
    }

    .post-wrapper {
      width: 100%;
      position: relative;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      .loader-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background: linear-gradient(135deg, #ddd, #ccc);
        animation: pulse 1.5s infinite ease-in-out;
        z-index: 1;
      }

      @keyframes pulse {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }

      .post-image {
        width: 100%;
        height: 300px;
      }
    }
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;

    button {
      border: 1px solid var(--border-color);
      font-size: 12px;
      padding: 0 10px;
      border-radius: 6px;
      color: var(--primary-text-color);
      background-color: transparent;
    }
    span {
      font-size: 12px;
      color: var(--primary-text-color);
      margin: 0 10px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .post {
    width: 90%;
    padding: 12px;

    h3 {
      font-size: 1rem;
      margin-bottom: 18px;

      .project-icon {
        font-size: 1.25rem;
        margin-right: 5px;
      }
    }

    .post-card {
      padding: 12px;
      margin-bottom: 25px;

      .post-card-top {
        flex-direction: row;
        align-items: flex-start;

        .project-name-icon {
          width: 50%;

          .h3-project {
            font-size: 1.125rem;
          }

          span {
            font-size: 0.7rem;
          }
        }

        .button-wrapper {
          width: 50%;
          justify-content: flex-end;
          flex-wrap: wrap;
          gap: 8px;

          .btn-show {
            font-size: 0.7rem;
            padding: 4px 12px;
          }
        }
      }

      .description {
        padding-top: 15px;
        p {
          font-size: 0.875rem;
        }
      }

      .post-wrapper {
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .loader-img,
        .post-image {
          width: 100%;
          height: 250px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .post {
    // border: 0.0005rem solid rgb(49, 45, 45);
    border: 0.0005rem solid var(--border-color);
    width: 100%;
    border-radius: 10px;
    padding: 10px 5px;
    background-color: var(--card-bg-color);

    h3 {
      color: var(--primary-text-color);
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 0.875rem;
      margin-left: 10px;

      .project-icon {
        font-size: 1.125rem;
        margin-right: 3px;
      }
    }

    .post-card {
      background-color: var(--mian-bg-color);
      width: 100%;
      border: 0.0005rem solid var(--border-color);
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
      max-height: fit-content;
      height: fit-content;

      .post-card-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        .project-name-icon {
          display: flex;
          flex-direction: column;
          width: 100%;
          .h3-project {
            font-size: 1.25rem;
            color: var(--primary-text-color);

            font-weight: 500;
            margin: 0;
          }

          span {
            font-size: 0.625rem;
            color: var(--dark-text-color);
            margin: 0;
          }
        }
        .button-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          gap: 5px;
          width: 100%;
          margin-top: 10px;

          .btn-show {
            background-color: transparent;
            border: 1px solid var(--border-color);
            height: auto;
            color: var(--primary-text-color);
            font-weight: 500;
            cursor: pointer;
            border-radius: 3px;
            font-size: 0.625rem;
            padding: 3px 10px;
            display: flex;
            white-space: nowrap;

            justify-content: center;
            align-items: center;

            .view-icon {
              color: var(--primary-text-color);
              font-size: 0.875rem;
              margin-right: 5px;
            }

            &:hover {
              background-color: #3674b5;
              color: #fff;

              .view-icon {
                color: #fff;
              }
            }

            &.techused {
              background-color: #3674b5;
              color: #fff;

              .view-icon {
                color: #fff;
              }
            }
            &.feature {
              background-color: #3674b5;
              color: #fff;

              .view-icon {
                color: #fff;
              }
            }
            &.visit {
              background-color: #3674b5;
              color: #fff;

              .view-icon {
                color: #fff;
              }
            }
          }

          .modal-box-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 2;
          }
        }
      }

      .description {
        width: 100%;
        margin-top: 10px;
        border-top: 0.0005rem solid var(--border-color);
        padding-top: 20px;
        margin-bottom: 10px;
        p {
          color: var(--primary-text-color);
          font-weight: 300;
          font-size: 0.875rem;
        }
      }

      .post-wrapper {
        width: 100%;
        position: relative;
        height: 180px;

        .loader-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 180px;
          background: linear-gradient(135deg, #ddd, #ccc);
          animation: pulse 1.5s infinite ease-in-out;
          z-index: 1;
        }

        @keyframes pulse {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0.6;
          }
          100% {
            opacity: 1;
          }
        }

        .post-image {
          width: 100%;
          height: 180px;
        }
      }
    }
  }
}
